name: Node CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable

      - name: Test using Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20'
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable --inline-builds

      - name: Test library
        run: yarn test --scope '@grafana/scenes-ml'

      - name: Typecheck library
        run: yarn typecheck --scope '@grafana/scenes-ml'

      - name: Build library
        run: yarn build --scope '@grafana/scenes-ml'

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    permissions:
      contents: read
      id-token: write
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@5d7e361bc7e0a183cde8afe9899fb7b596d2659b # get-vault-secrets-v1.2.0
        with:
          # Secrets placed in the ci/repo/grafana/scenes-ml/<path> path in Vault
          repo_secrets: |
            GITHUB_APP_PRIVATE_KEY=github-app:private-key
            NPM_TOKEN=npm:token
          export_env: false

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_PRIVATE_KEY }}

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
          token: ${{ steps.generate-token.outputs.token }}

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Enable Corepack
        run: corepack enable

      - name: Test using Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20'
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable --inline-builds

      - name: Build library
        run: yarn run lerna run build --no-private

      - name: Run auto shipit
        run: yarn auto shipit
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          NODE_AUTH_TOKEN: ${{ fromJSON(steps.get-secrets.outputs.secrets).NPM_TOKEN }}
          NPM_TOKEN: ${{ fromJSON(steps.get-secrets.outputs.secrets).NPM_TOKEN }}
